<!--
  ~  Copyright (c) 2021-2024 Lóránd Kútvölgyi. This file is part of Aurora.
  ~
  ~                                 Aurora is free software: you can redistribute it and/or modify
  ~                                 it under the terms of the GNU General Public License as published by
  ~                                 the Free Software Foundation, either version 3 of the License, or
  ~                                 (at your option) any later version.
  ~
  ~                                 Aurora is distributed in the hope that it will be useful,
  ~                                 but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~                                 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~                                 GNU General Public License for more details.
  ~
  ~                                 You should have received a copy of the GNU General Public License
  ~                                 along with Aurora.  If not, see <https://www.gnu.org/licenses/>.
  ~
  -->

<meta charset="UTF-8">
<p>eva-icons <a href="https://akveo.github.io/eva-icons/#/">https://akveo.github.io/eva-icons/#/</a></p>
<p>MessageBus <a href="https://github.com/dorkbox/MessageBus">https://github.com/dorkbox/MessageBus</a> The Apache
    Software License, Version
    2.0
</p>
<p>nitrite <a href="https://www.dizitart.org/nitrite-database.html">https://www.dizitart.org/nitrite-database.html</a>
</p>
<p>batik-swing <a href="https://xmlgraphics.apache.org/batik/using/swing.html">https://xmlgraphics.apache.org/batik/using/swing.html</a>
    Apache License, Version 2.0</p>
<p>swingx <a href="https://javalibs.com/artifact/org.swinglabs.swingx/swingx-project">https://javalibs.com/artifact/org.swinglabs.swingx/swingx-project</a>
</p>
<p>NativeSwing <a
        href="http://djproject.sourceforge.net/ns/index.html">http://djproject.sourceforge.net/ns/index.html</a>
    GNU Lesser General Public License</p>
<p>jsoup <a href="https://jsoup.org/">https://jsoup.org/</a> MIT License</p>
<p>aspectj <a href="https://www.eclipse.org/aspectj/">https://www.eclipse.org/aspectj/</a> Eclipse Public License (EPL)
</p>
<p>junit <a href="https://junit.org/junit5/">https://junit.org/junit5/</a> Eclipse Public License 1.0</p>
<p>mockito <a href="https://site.mockito.org/">https://site.mockito.org/</a> MIT License</p>
<p>awaitility <a href="https://github.com/awaitility/awaitility">https://github.com/awaitility/awaitility</a> Apache-2.0
    License </p>
<p>lombok <a href="https://projectlombok.org/">https://projectlombok.org/</a> MIT License</p>
<p>slf4j <a href="http://www.slf4j.org/">http://www.slf4j.org/</a> MIT License</p>
<p>logback <a href="http://logback.qos.ch/">http://logback.qos.ch/</a> GNU Lesser General Public License version 2.1</p>
<p>apache-commons-lang
    <a href="https://commons.apache.org/proper/commons-lang/">https://commons.apache.org/proper/commons-lang/</a>
    Apache License, Version 2.0</p>