<!--
  ~  Copyright (c) 2021-2024 Lóránd Kútvölgyi. This file is part of Aurora.
  ~
  ~                                 Aurora is free software: you can redistribute it and/or modify
  ~                                 it under the terms of the GNU General Public License as published by
  ~                                 the Free Software Foundation, either version 3 of the License, or
  ~                                 (at your option) any later version.
  ~
  ~                                 Aurora is distributed in the hope that it will be useful,
  ~                                 but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~                                 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~                                 GNU General Public License for more details.
  ~
  ~                                 You should have received a copy of the GNU General Public License
  ~                                 along with Aurora.  If not, see <https://www.gnu.org/licenses/>.
  ~
  -->

<meta charset="UTF-8">
<p>ORIGINAL - Old Testament. Public domain. The Westminster Leningrad Codex. Source: <a
        href="https://www.biblegateway.com/">https://www.biblegateway.com/</a>
</p>
<p>ORIGINAL - New Testament. Public domain. B.F.Westcott and F.J.A. Hort. Source: <a
        href="https://archive.org/details/NewTestamentGreekTextWescottHort18811903/page/n1/mode/2up">
    https://archive.org/details/NewTestamentGreekTextWescottHort18811903/page/n1/mode/2up</a>
</p>
<p>CSIA - Translated by Csia Lajos. Public domain.
    Source: <a href="http://churchofgod.hu/zip/csia_ujszov.zip">http://churchofgod.hu/zip/csia_ujszov.zip</a></p>
<p>HUNKAR - Translated by Károli Gáspár. Public domain.
    Source: <a href="https://mek.oszk.hu/00100/00161">https://mek.oszk.hu/00100/00161</a>
</p>
<p>ASV - American Standard Version. Public domain.
    Source: <a href="https://ebible.org/asv/asvtxt.zip">https://ebible.org/asv/asvtxt.zip</a>
</p>
<p>DARBY - Darby Translation. Public domain.
    Source: <a href="https://www.biblegateway.com/">https://www.biblegateway.com/</a>
</p>
<p>DRA - Douay-Rheims 1899 American Edition. Public domain. Source: <a
        href="https://www.biblegateway.com/">https://www.biblegateway.com/</a></p>
<p>KJV - King James Version. Public domain.
    Source: <a href="https://www.biblegateway.com/">https://www.biblegateway.com/</a>
</p>
<p>YLT - Young's Literal Translation. Public domain.
    Source: <a href="https://www.biblegateway.com/">https://www.biblegateway.com/</a>
</p>
<hr>
<p>Strong numbers.
    Source: <a href="http://sourceforge.net/projects/zefania-sharp">http://sourceforge.net/projects/zefania-sharp</a>
</p>
<p>Cross references.
    Source: <a href="https://www.openbible.info/labs/cross-references/">https://www.openbible.info/labs/cross-references/</a>
    Creative Commons Attribution License
</p>
<p>Greek-English dictionary. Public domain.
    Source: <a href="https://github.com/biblicalhumanities/Dodson-Greek-Lexicon/blob/master/dodson.pdf">https://github.com/biblicalhumanities/Dodson-Greek-Lexicon/blob/master/dodson.pdf</a>
    <br> <a href="https://www.princeofpreachers.org/uploads/4/8/6/5/48652749/sgreek.pdf">https://www.princeofpreachers.org/uploads/4/8/6/5/48652749/sgreek.pdf</a>
</p>
<p>Greek-Hungarian dictionary.
    Source: <a href="https://raw.githubusercontent.com/briff/ujszov.szentiras.hu/master/old/db/ujszov.hu.sql">https://raw.githubusercontent.com/briff/ujszov.szentiras.hu/master/old/db/ujszov.hu.sql</a>
    Copyright (c) Szent Jeromos Katolikus Bibliatársulat. Used with permission from Harmai Gábor.
</p>
