<!--
  ~  Copyright (c) 2021-2024 Lóránd Kútvölgyi. This file is part of Aurora.
  ~
  ~                                 Aurora is free software: you can redistribute it and/or modify
  ~                                 it under the terms of the GNU General Public License as published by
  ~                                 the Free Software Foundation, either version 3 of the License, or
  ~                                 (at your option) any later version.
  ~
  ~                                 Aurora is distributed in the hope that it will be useful,
  ~                                 but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~                                 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~                                 GNU General Public License for more details.
  ~
  ~                                 You should have received a copy of the GNU General Public License
  ~                                 along with Aurora.  If not, see <https://www.gnu.org/licenses/>.
  ~
  -->

<meta charset="UTF-8">
<div>Copyright © 2021-2023 <b>Lóránd Kútvölgyi</b>
    <p>Email: <a href="mailto:aurorabible.app@gmail.com">aurorabible.app@gmail.com</a>
    <p>If you have any questions about the application, or in case of finding bugs in it or if you're new to the Bible,
        and you need help to
        learn, please feel free to contact me.
    <p>Version: <b>0.0.16</b>
    <p>License: <a href="gpl-3.0.txt">GPL 3.0</a>
    <p>Source code: <a href="https://bitbucket.org/lorandKutvolgyi/aurora/src/master/">https://bitbucket.org/lorandKutvolgyi/aurora/src/master/</a>
    <p><a href="about_used_components.html">Used components</a></p>
    <p><a href="about_used_materials_en.html">Used Bible texts, translations, and other materials</a></p>
    <p>Thanks to my wonderful wife, Móni, for her help in naming the application and choosing the appropriate colors.
</div>