<!--
  ~  Copyright (c) 2021-2024 Lóránd Kútvölgyi. This file is part of Aurora.
  ~
  ~                                 Aurora is free software: you can redistribute it and/or modify
  ~                                 it under the terms of the GNU General Public License as published by
  ~                                 the Free Software Foundation, either version 3 of the License, or
  ~                                 (at your option) any later version.
  ~
  ~                                 Aurora is distributed in the hope that it will be useful,
  ~                                 but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~                                 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~                                 GNU General Public License for more details.
  ~
  ~                                 You should have received a copy of the GNU General Public License
  ~                                 along with Aurora.  If not, see <https://www.gnu.org/licenses/>.
  ~
  -->

<meta charset="UTF-8">
<div>Copyright © 2021-2023 <b>Kútvölgyi Lóránd</b>
    <p>Email: <a href="mailto:aurorabible.app@gmail.com">aurorabible.app@gmail.com</a>
    <p>Ha kérdése van az alkalmazásról, esetleg hibát talált benne, vagy most ismerkedik a Bibliával, és segítségre
        lenne szüksége, írjon
        bátran!
    <p>Verzió: <b>0.0.16</b>
    <p>Licensz: <a href="gpl-3.0.txt">GPL 3.0</a>
    <p>Forráskód: <a href="https://bitbucket.org/lorandKutvolgyi/aurora/src/master/">https://bitbucket.org/lorandKutvolgyi/aurora/src/master/</a>
    <p><a href="about_used_components.html">Felhasznált komponensek</a></p>
    <p><a href="about_used_materials_hu.html">Használt bibliai szövegek, fordítások, egyéb anyagok</a></p>
    <p>Köszönet csodálatos feleségemnek, Móninak a megfelelő színek kiválasztásában és a névadásban nyújtott
        segítségéért.
</div>