<!--
  ~  Copyright (c) 2021-2024 Lóránd Kútvölgyi. This file is part of Aurora.
  ~
  ~                                 Aurora is free software: you can redistribute it and/or modify
  ~                                 it under the terms of the GNU General Public License as published by
  ~                                 the Free Software Foundation, either version 3 of the License, or
  ~                                 (at your option) any later version.
  ~
  ~                                 Aurora is distributed in the hope that it will be useful,
  ~                                 but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~                                 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~                                 GNU General Public License for more details.
  ~
  ~                                 You should have received a copy of the GNU General Public License
  ~                                 along with Aurora.  If not, see <https://www.gnu.org/licenses/>.
  ~
  -->

<div>
    <b>adi. </b>: adiectivum (melléknév)
    <p><b>adi.compar. </b>: adiectivum comparativum (középfokú melléknév)
    </p>
    <p><b>adv. </b>: adverbium (határozószó)
    </p>
    <p><b>adv.(compar.) </b>: (hat. középfokú mn.-ből)
    </p>
    <p><b>art.def. </b>: articulus definitus (határozott névelő)
    </p>
    <p><b>card. </b>: cardinale (tőszámnév)
    </p>
    <p><b>coni. </b>: coniunctio (kötőszó)
    </p>
    <p><b>nm. </b>: nomen (főnév)
    </p>
    <p><b>nm.pers. </b>: nomen personalis (személynév)
    </p>
    <p><b>ord. </b>: ordinale (sorszámnév)
    </p>
    <p><b>partic. </b>: particula (indulatszó)
    </p>
    <p><b>partic.interrog. </b>: particula interrogativa (kérdőszó)
    </p>
    <p><b>partic.neg. </b>: particula negativa (tagadószó)
    </p>
    <p><b>praep. </b>: praepositio (prepozíció)
    </p>
    <p><b>pron.dem. </b>: pronomen demonstrativum (mutató névmás)
    </p>
    <p><b>pron.rec. </b>: pronomen reciprocum (kölcsönös névmás)
    </p>
    <p><b>pron.refl. </b>: pronomen reflexivum (visszaható névmás)
    </p>
    <p><b>verb. </b>: Verbum (ige)
    </p>
    <p><b>A.</b>: activum (cselekvő)
    </p>
    <p><b>acc.</b>: accusativus (tárgyeset)
    </p>
    <p><b>D. </b>: Deponens (álszenvedő [ill. álmedium])
    </p>
    <p><b>dat. </b>: dativus (részes eset)
    </p>
    <p><b>f. </b>: femininum (nőnemű)
    </p>
    <p><b>fut. </b>: futurum (jövő idő)
    </p>
    <p><b>gen. </b>: genitivus (birtokos eset)
    </p>
    <p><b>impf. </b>: imperfectum (folyamatos)
    </p>
    <p><b>ind. </b>: indicativus (kijelentő mód)
    </p>
    <p><b>indecl. </b>: indeclinabilis (nem ragozható)
    </p>
    <p><b>inf. </b>: infinitivus (főnévi igenév)
    </p>
    <p><b>m. </b>: masculinum (hímnem)
    </p>
    <p><b>M. </b>: Medium (medium)
    </p>
    <p><b>n. </b>: neutrum (semlegesnem)
    </p>
    <p><b>nom. </b>: nominativus (alanyeset)
    </p>
    <p><b>opt. </b>: optativus (óhajtó mód)
    </p>
    <p><b>P. </b>: Passivum (szenvedő)
    </p>
    <p><b>part. </b>: participium (melléknévi igenév)
    </p>
    <p><b>perf. </b>: perfectum (befejezett)
    </p>
    <p><b>pl. </b>: pluralis (Többes szám)
    </p>
    <p><b>praes. </b>: praesens (jelen idő)
    </p>
    <p><b>praet. </b>: praeteritum (múlt idő)
    </p>
    <p><b>sg. </b>: singularis (egyes szám)
    </p>
    <p><b>voc. </b>: vocativus (megszólító eset)
    </p>
    <p><b>Hap. leg.</b>: Hapax legonmenon (egyszer előforduló szó az Újszövetségben)
    </p>
    <p><b>BÚG </b>: SZABÓ M., Bevezetés az Újszövetség görög nyelvébe, Szeged, 1997
    </p>
    <p><b>GNT_T </b>: Novum Testamentum Graece, ed. TISCHENDORF, Lipcse, 18863
    </p>
    <p><b>GNT_WH </b>: The New Testament in the original greek, ed. WESCOTT, B. F. - HORT, F. J. A., Cambridge, London, 1882, 1903
    </p>
    <p><b>GNT28 </b>: Novum Testamentum Graece, ed. NESTLE-ALAND, Stuttgart, 1898
    </p>
    <p><b>ÓGMSz </b>: GYÖRKÖSSY A. – KAPITÁNFFY I. – TEGYEY I., Ógörög-magyar Szótár, Budapest, 1993
    </p>
    <p><b>ÚGMSz </b>: VARGA ZS., Újszövetségi görög-magyar szótár, Budapest, 1996.
    </p>
    <p><b>ÚSzSz </b>: BALÁZS, K., Újszövetségi szómutató szótár. Károli Gáspár – 1908-ban revideált – fordításához.
        A Nestle-Aland: Novum Testamentum Graece 26. kiadása alapján készült Konkordanciával összevetve, Budapest, 1998.
</div>
